{{#if addNewSubject}}
<div>
  <form>
    <div class="form-group">
      <label for="owner">Name</label>
      {{input value=owner id="owner"}}
    </div>
    <div class="title">
      <label for="title">What would you like to talk about?</label>
      {{input value=title id="title"}}
    </div>
    <button {{action 'saveSubject'}}>Add a new Subject</button>
  </form>
</div>
{{else}}
  <a{{action 'subjectFormShow'}}>New Subject</a>
{{/if}}
