{{#if addNewSubject}}
<div>
  <form>
    <div class="form-group">
      <label for="owner">Owner</label>
      {{input value=owner id="owner"}}
    </div>
    <div class="subject">
      <label for="type">Type</label>
      {{input value=subject id="subject"}}
    </div>
    <button {{action 'saveSubject'}}>Add a new Subject</button>
  </form>
</div>
{{else}}
  <button {{action 'subjectFormShow'}}>New Subject</button>
{{/if}}
